<h1>All Posts</h1>

<% if user_signed_in? %>
  <%= link_to "Create New Post", new_post_path, class: "btn" %>
<% end %>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h2><%= link_to post.title, post_path(post) %></h2>
        <p>by <%= post.user.email %></p>
        <p><%= truncate(post.body, length: 100) %></p>

        <% if user_signed_in? && post.user == current_user %>
          <%= link_to "Edit", edit_post_path(post) %> |
          <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </li>user
    <% end %>
  </ul>
<% else %>
  <p>No posts yet. <% if user_signed_in? %><%= link_to "Create one", new_post_path %><% end %></p>
<% end %>

